.tabes_container{
    height: 100ch;
    width: 98%;
    display: flex;
    background-image: url(https://www.wallpapertip.com/wmimgs/181-1817057_geometric-shapes-wallpaper-free.jpg);
    margin: auto;
}
